@import "./base.css";

#app {
  font-weight: normal;
  margin: 0 auto;
  padding: 0 1rem;
}

body {
  background-image: url("https://i.pinimg.com/originals/c1/e3/90/c1e3908c684b1b4fd058d6f0208ebc4e.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
